$primary-color: #0e8ed0;
$secondary-color: #dcdcdc7a;
$font-family-01: 'Inter', sans-serif;

.section03 {
    width: 100%;
    height: 100%;
    background-color: #0c0f5e;
}

.ourGym {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    padding: 8px;


    @media (min-width: 1440px) {
        padding: 16px;
        font-size: 2rem;
    }

    @media (min-width: 2560px) {
        padding: 32px;
        font-size: 4rem;
    }
}

.sect03Content {
    width: 100%;
    height: 100%;

}

.gymPhotos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 620px) {
        flex-direction: row;
    }
}

.principalGymPhoto {
    width: 75vw;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;
    position: relative;
    border-radius: 1px;
    border: 1px solid #fff;

    @media (min-width: 620px) {
        width: 25vw;
        height: 50vh;
    }

    @media (min-width: 1440px) {
        width: 20vw;
        height: 45vh;
    }

    @media (min-width: 2560px) {
        width: 20vw;
        height: 45vh;
    }
}

.secondaryGymPhoto {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;

    @media (min-width: 620px) {
        width: unset;
        justify-content: unset;
    }

}

.secGym,
.thirdGym {
    width: 45vw;
    height: 30vh;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
    border-radius: 1px;
    border: 1px solid #fff;

    @media (min-width: 620px) {
        width: 25vw;
        height: 50vh;
    }

    @media (min-width: 1440px) {
        width: 20vw;
        height: 45vh;
    }

    @media (min-width: 2560px) {
        width: 20vw;
        height: 45vh;
    }
}


.viewMore {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagramButton {
    border: none;
    padding: 8px 24px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 8px;
    margin-bottom: 16px;

    @media (min-width: 620px) {
        padding: clamp(16px, 2vw, 20px);
        border-radius: 15px;
        cursor: pointer;
        margin-top: 16px;
    }
}

.instagramButton:hover {
    background-color: $primary-color;
    transition: 0.3s ease-in-out;
}

.seeMore {
    font-size: 1rem;
    font-weight: 600;
    color: #000;

    @media (min-width: 620px) {
        font-size: 1.2rem;
    }

    @media (min-width: 1440px) {
        font-size: 1.8rem;
    }

    @media (min-width: 2560px) {
        font-size: 2.5rem;
    }
}


.biInstagram {
    color: #000;

    @media (min-width: 1440px) {
        width: 32px;
        height: 32px;
    }

    @media (min-width: 2560px) {
        width: 48px;
        height: 48px;
    }
}
