$primary-color: #0e8ed0;
$secondary-color: #dcdcdc7a;
$font-family-01: 'Inter', sans-serif;

.section03 {
    width: 100%;
    height: 100%;
    background-color: #282a5f;
}

.ourGym {
    font-family: $font-family-01;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    padding: 8px;
    
    @media (min-width: 1440px) {
        padding: 16px;
        font-size: 3rem;
    }

    @media (min-width: 2560px) {
        padding: 32px;
        font-size: 5rem;
    }
}

.sect03Content {
    width: 100%;
    height: 100%;

}

.gymPhotos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 620px) {
        flex-direction: row;
        gap: 64px;
    }
}

.principalGymPhoto {
    width: 80vw;
    height: 50vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;

    @media (min-width: 620px) {
        width: 25vw;
        height: 50vh;
    }
}

@media (min-width: 620px) {

    .principalGymPhoto:hover,
    .secGym:hover,
    .thirdGym:hover {
        width: 25.5vw;
        height: 50.5vh;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
}


.secondaryGymPhoto {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;

    @media (min-width: 620px) {
        gap: 64px;
        width: unset;
        justify-content: unset;
    }
}

.secGym,
.thirdGym {
    width: 50vw;
    height: 30vh;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
    border-radius: 5px;

    @media (min-width: 620px) {
        width: 25vw;
        height: 50vh;
    }
}


.viewMore {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagramButton {
    border: none;
    padding: 8px 24px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 8px;
    margin-bottom: 16px;

    @media (min-width: 620px) {
        padding: clamp(16px, 2vw, 32px);
        border-radius: 15px;
        cursor: pointer;
        margin-top: 16px;
    }
}

.seeMore {
    font-size: 1rem;
    font-weight: 600;
    color: #000;

    @media (min-width: 620px) {
        font-size: 1.2rem;
    }

    @media (min-width: 1440px) {
        font-size: 3rem;
    }

    @media (min-width: 2560px) {
        font-size: 5rem;
    }
}

.biInstagram {
    color: #000;

    @media (min-width: 1440px) {
        width: 48px;
        height: 48px;
    }

    @media (min-width: 2560px) {
        width: 72px;
        height: 72px;
    }
}