$primary-color: #4771a3;
$primary-color-620: #4771a3a3; 
$secondary-color: #77779d;
$font-family-01: Arial, Helvetica, sans-serif;
$text-shadow: 2px 1px #0000002a;

.section01{
    width: 100%;
    height: 200vh;
    background-color: $secondary-color;
}



