$primary-color: #0c0f5e;
$secondary-color: #dcdcdc7a;
$font-family-01: "Inter", sans-serif;

.section05 {
  width: 100%;
  height: 100%;
  background-color: $primary-color;
}

.local {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  padding: 8px;

  @media (min-width: 1440px) {
    padding: 16px;
    font-size: 2rem;
  }

  @media (min-width: 2560px) {
    padding: 32px;
    font-size: 4rem;
  }
}

.sect05Cont {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 60%;
  height: 200px;

  @media (min-width: 620px) {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: 2560px) {
    height: 600px;
  }
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  @media (min-width: 620px) {
    width: 80%;
  }

  @media (min-width: 2560px) {
    height: 600px;
  }
}

.gmap_iframe {
  height: 200px !important;

  @media (min-width: 2560px) {
    height: 600px !important;
  }
}

.localInfo {
  width: 100%;
  padding: 8px;

  @media (min-width: 620px) {
    display: flex;
    justify-content: center;
  }
}

.listStyle {
  font-family: $font-family-01;
}

.list {
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;

  @media (min-width: 620px) {
    font-size: 1.2rem;
  }

  @media (min-width: 1440px) {
    font-size: 1.5rem;
  }

  @media (min-width: 2560px) {
    font-size: 2.5rem;
  }
}

.biGeoAltFill {
  @media (min-width: 1440px) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: 2560px) {
    width: 32px;
    height: 32px;
  }
}
